/* ----------------------------- dog books / puppies ----------------*/
#book-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto 40px auto;
    justify-content: center;
  
    h1 {
      font-size: 24px;
      line-height: 1.5;
    }
  
} 
  
#book-lft-rw {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 26px 10px 0px 20px;
  width: 200px;
  min-width: 160px;
  > div {
    height: 300px;
    width: 200px;
  }
  img {
    width: 100%;
    height: 100%;
    /* width: 100%; */
  }
}
  
#book-ctr-rw {
  max-width: 500px;
  min-width: 250px;
  padding: 0 20px;
}

#book-rgt-rw {
  align-content: center;
  margin: 0 20px 0 10px;
  max-width: 300px;
  min-width: 200px;
}
  
#book-buy-btn {
  margin-top:15px;
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  outline: 0;
  padding: 10px 60px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#book-buy-btn:hover {
  box-shadow: rgba(0, 0, 0, .25) 0 3px 9px 0;
  background-color: green;
  transform: translateY(-2px);
}
 
@media (max-width: 700px) {
  #book-top {
    margin-bottom: 0px;
  }
  #book-lft-rw {
    margin: 0px;
  }
  #book-rgt-rw {
    margin: 0 20px;
  }
 
}