
/* ----------------------------  CONTACT PAGE ---------------------- */
* {
line-height: 1;
}

#contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .contact-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#facc30;
    border-radius: 2%;
    border-color: saddlebrown;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, .5);
    border-style: solid;
    border-width: 1px;
    margin: 0px 20px;
    padding: 30px;
    
    
    h1 {
      text-align: center;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 44px;
      /* margin: 0; */
    }
  
    h2 {
      font-size: 28px;
      font-weight: 500;
      margin: 10px;
    }
  
    p {
      text-align: center;
      font-size: 18px;
      margin: 10px;
    }
    
  }
  
  /*  web3form   */
  
  .contact-section {
    width: 90%;
    max-width: 40rem;
    margin: 20px auto;
    padding: 1.5rem 1rem;
    background-color: #fde98f;
    border-radius: 2%;
    border-color: saddlebrown;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, .5);
    border-style: solid;
    border-width: 1px;
  }
  
  .contact-intro > * + * {
    margin-top: 1rem;
  }
  
  .contact-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
  }
  
  .contact-description {
    color: rgb(107 114 128);
  }
  
  .form-group-container {
    display: grid;
    gap: 1rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  
  .form-label {
    margin-bottom: 0.25rem;
    font-weight: 500;
    /* new */
    position: relative;
    display: block;
    margin-bottom: 5px;
  
  }
  
  .form-inputs {
    padding: 0.5rem;
    border: 1px solid saddlebrown;
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: #fde98f;
  }
  
  .form-textarea {
    min-height: 120px;
  }
  
  /* new form design  below */
  .placeholder_text {
    padding: 10px;
    pointer-events: none;
    position: absolute;
    left:5px;
    top:0px;
    transition: 0.4s;
    opacity: 0.5;
    font-size:14px;
  }
  
  .form-inputs {
    width: 100%;
    padding: 10px;
    border: 1px solid saddlebrown;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 3rem;
  }
  
  /* When input is focused, or the placeholder is not being displayed, change the border to blue */
  .form-inputs:focus, .form-inputs:not(:placeholder-shown) {
    outline: 1px solid saddlebrown;
    /* outline-offset: 2px; */
  }
  
  /* When input is focused, or the placeholder is not being displayed, change the placeholder size, position and color */
  .form-inputs:focus + span, .form-inputs:not(:placeholder-shown) + span {
    color: saddlebrown;
    font-size: 14px;
    font-weight: 400;
    transform: translateY(-15px) translateX(4px);
    text-align: left;
    line-height:6px;
    background-color: #fde98f;
    opacity:1;
  }
  
  /* gets rid of blue autocomplete */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #fde98f inset !important;
  }
  
  /*  new for design above */
  
  .form-submit {
    width: 100%;
    margin-top: 0.5rem;
    background-color: #f9b94b;
    color: saddlebrown;
    font-weight: 600;
    padding: 13px 5px;
    border: 1px solid saddlebrown;
    border-radius: 0.375rem;
    font-size: 16px;;
    &:hover {
      background-color: saddlebrown;
      color:white;
    }
  }
  
  .input-required {
    color: red;
  }
  
  /* email success page */
  
  .mail-success {
    text-align: center;
  /* background: #fff; */
  border-top: 1px solid saddlebrown;
  }
  .mail-seccess .success-inner {
  display: inline-block;
  }
  .mail-success .success-inner h1 {
  font-size: 120px;
  text-shadow: 3px 5px 2px #3333;
  /* color: #006DFE; */
  color: saddlebrown;
  font-weight: 700;
  }
  .mail-success .success-inner h1 span {
  display: block;
  font-size: 40px;
  color: #333;
  font-weight: 600;
  text-shadow: none;
  margin-top: 20px;
  }
  
  .mail-success p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }
  
  .mail-success .success-inner p {
  padding: 20px 15px;
  }
  .mail-success .success-inner .btn{
  color:#fff;
  }
  