/* ----------------------------  CONTACT PAGE ---------------------- */
:root {
  --background-color: #fff9c4 /*#fffde7;*/
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--background-color);
  h1 {
    text-align: center;
    margin-bottom: 0.75rem;
    text-transform: uppercase;
    font-size: 1.75rem;
    color: saddlebrown;
  }
  h2 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 2rem;
    color: saddlebrown;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 1.125rem;
    margin: 0.75rem 0.75rem 1.25rem 0.75rem;
  }
}
  
/*  web3form   */

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  .form-group-container{
    margin: 0.75rem;
  }
}

.contact-intro > * + * {
  margin-top: 1rem;
}

.contact-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.contact-description {
  color: rgb(107 114 128);
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.form-label {
  margin-bottom: 0.25rem;
  font-weight: 500;
  position: relative;
  display: block;
  margin-bottom: 5px;

}

.form-inputs {
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  padding: 0.75rem;
  border: 1px solid saddlebrown;
  display: flex;
  width: 100%;
  border-radius: 0.375rem;
  font-size: 1rem;
  line-height: 1.25rem;
  background-color: var(--background-color);
  box-sizing: border-box;
  height: 3rem;
}

.form-textarea {
  height: auto;
}

/* new form design  below */
.placeholder_text {
  padding: 0.75rem;
  pointer-events: none;
  position: absolute;
  left: 0.25rem;
  top:0.75rem;
  transition: 0.4s;
  opacity: 0.75;
  font-size:0.85rem;
  font-weight: 400;
}

/* When input is focused, or the placeholder is not being displayed, change the border to blue */
.form-inputs:focus, .form-inputs:not(:placeholder-shown) {
  outline: 1px solid saddlebrown;
}

/* When input is focused, or the placeholder is not being displayed, change the placeholder size, position and color */
.form-inputs:focus + span, .form-inputs:not(:placeholder-shown) + span {
  color: saddlebrown;
  font-size: 0.85rem;
  font-weight: 400;
  transform: translateY(-23px) translateX(4px);
  text-align: left;
  line-height:6px;
  background-color: var(--background-color);
  opacity:1;
}

/* gets rid of blue autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--background-color) inset !important;
}

/*  new for design above */

.form-submit {
  margin: 0.75rem;
  background-color: #ffeaa7;
  color: saddlebrown;
  font-weight: 600;
  padding: 1rem;
  border: 1px solid saddlebrown;
  border-radius: 25px;
  font-size: 1rem;
  &:hover {
    background-color: saddlebrown;
    color:white;
  }
}

.input-required {
  color: red;
}
  
@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.blinking-result {
    margin-top: 0.75rem;
    font-size: 1.125rem;
    color: saddlebrown;
    font-weight: 600;
    animation: blink 1s infinite; 
}

@media (max-width: 700px) {
  #modalContent, .modal-content.modal-right {
   max-width: 80%;
  }
}

@media (max-width: 500px) {
  .form-group-container {
    margin: 0.25rem !important;
  }
  .form-submit {
    margin: 0.25rem !important;
  }
  h1 {
    font-size: 1.5rem !important;
  }
  h2 {
    font-size: 1rem !important;
  }
  /* fill the screen */
  #modalContent, .modal-content.modal-right {
    width: 100%;
    max-width: calc(100% - 40px);
  }
  
} 