
/*********************** modal section for contact *******************/

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    top: 350px;
    left: 50%;
    padding: 20px;
    background: var(--modal-background-color);
    max-width: 500px; /* Limits the width to 30% of the screen */
    min-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid saddlebrown;
    border-radius: 2%;
    text-align: center;
    transform: translate(-50%, -50%) scale(0); 
    z-index: 1000;
    transition: transform 0.5s ease-in-out; /* Animation for the scale transition */
  }
  
  .modal-content.show {
    transform: translate(-50%, -50%) scale(1); /* Expands from center */
  }
  
  .modal-heading {
    color: saddlebrown;
    font-size: 16px;
    padding: 0 20px;
    font-weight: 500;
  }
  
  .close {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 0 7px;
    font-size: 36px;
    color: saddlebrown;
    border: 1px solid saddlebrown;
    background-color: #ffeaa7;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .image-list {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between images */
  }
  
  .image-list img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
  }
  
  #scroll-section {
    margin-top: 20px;
    height: 825px;
    overflow-y: scroll;
  }
  
  /* Scrollbar for Webkit browsers (Chrome, Safari, Edge) */
  #scroll-section::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  #scroll-section::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
  }
  
  #scroll-section::-webkit-scrollbar-thumb {
    background-color: brown; /* Color of the scrollbar handle */
    border-radius: 10px; /* Rounded edges */
    border: 2px solid transparent; /* Padding around the thumb (creates distance) */
    background-clip: padding-box; /* Ensures the background doesn't overflow the border */
  }
  
  /* message sent html */
  .fa-envelope-open-text {
    font-size: 84px;
    color: #4cd137;
  }
  
  
  @media (max-width: 1000px) {
    .modal-content {
      max-width: 60%;
    }
  }
  
  
  @media (max-width: 500px) {
    .modal-content {
      margin-top: 20px;
      padding: 10px;
      max-width: 80%;
    }
  }
  