
/* ------------- Policy Pages  -----------------------*/

.policy-content {
    display: flex;
    flex-direction: column;
    max-width:800px;
    margin: 0px auto;
    padding: 20px;
    h4 {
      font-size: 24px;
      font-weight: 500;
      color: saddlebrown;
      margin: 0;
    }
  }

a {
  color: saddlebrown;
}

.italic {
  font-style: italic;
  font-size: 0.9rem;
}
  